/* アスキーコードをutf8に */
@charset "utf-8";

/* 全要素の余白を0に */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    background-color: black;
}

/* ローディング画面用のスタイル */
#loading {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 68px;
}

/* 本体用のスタイル*/
#wrapper {
    width: 100%;
    text-align: center;
    display: none;
}

/* CANVASの余白設定 */
#stage {
    margin: 4px;
}